Repository viniciusaro/evidence, pull requests merged in 2023-10, with the labels that each got.

#7 [LEAF] Primary button
  mobile/evidence/ios/Evidence/Evidence/ContentView.swift
  mobile/evidence/ios/Evidence/Evidence/EvidenceApp.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Components/LeafAvatar.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Components/LeafButton.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Leaf.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Theme/LeafEnvironment.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Theme/LeafTheme.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Theme/LeafThemeView.swift
  mobile/evidence/ios/teste
Labels: leaf

#10 chore(leaf): add first snapshot tests. button primary
  .github/workflows/evidence-ios-pull-request-actions.yaml
  mobile/evidence/ios/Evidence.xcworkspace/xcshareddata/swiftpm/Package.resolved
  mobile/evidence/ios/Leaf/Package.swift
  mobile/evidence/ios/Leaf/Tests/LeafTests/LeafButtonTests.swift
  mobile/evidence/ios/Leaf/Tests/LeafTests/LeafTests.swift
  mobile/evidence/ios/Leaf/Tests/LeafTests/__Snapshots__/LeafButtonTests/testStylePrimary.1.png
  mobile/evidence/ios/Leaf/Tests/LeafTests/__Snapshots__/LeafButtonTests/testStylePrimary.2.png
Labels: leaf

#8 [LEAF] Text components
  mobile/evidence/ios/Evidence/Evidence.xcodeproj/project.pbxproj
  mobile/evidence/ios/Evidence/Evidence/ContentView.swift
  mobile/evidence/ios/EvidenceDependencies/Package.swift
  mobile/evidence/ios/Leaf/Package.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Components/LeafText.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Theme/LeafEnvironment.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Theme/LeafTheme.swift
  mobile/evidence/ios/Leaf/Tests/LeafTests/__Snapshots__/LeafButtonTests/testStylePrimary.1.png
  mobile/evidence/ios/teste
Labels: leaf

#14 chore(evidence): add Appicon
  mobile/evidence/ios/Evidence/Evidence/Assets.xcassets/AppIcon.appiconset/Contents.json
  mobile/evidence/ios/Evidence/Evidence/Assets.xcassets/AppIcon.appiconset/tree.png
Labels: evidence

#15 chore(leaf): avatar style
  mobile/evidence/ios/Leaf/Sources/Leaf/Components/LeafAvatar.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Components/LeafAvatarStyle.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Theme/LeafThemeView.swift
Labels: leaf

#17 chore(leaf): add snapshot tests to avatar
  mobile/evidence/ios/Evidence.xcworkspace/xcshareddata/swiftpm/Package.resolved
  mobile/evidence/ios/Evidence/Evidence/ContentView.swift
  mobile/evidence/ios/Leaf/Package.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Components/LeafAsyncImage.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Components/LeafAsyncImageClient.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Components/LeafAvatar.swift
  mobile/evidence/ios/Leaf/Tests/LeafTests/LeafAvatarTests.swift
  mobile/evidence/ios/Leaf/Tests/LeafTests/LeafButtonTests.swift
  mobile/evidence/ios/Leaf/Tests/LeafTests/__Snapshots__/LeafAvatarTests/testError.1.png
  mobile/evidence/ios/Leaf/Tests/LeafTests/__Snapshots__/LeafAvatarTests/testError.2.png
  mobile/evidence/ios/Leaf/Tests/LeafTests/__Snapshots__/LeafAvatarTests/testLoaded.1.png
  mobile/evidence/ios/Leaf/Tests/LeafTests/__Snapshots__/LeafAvatarTests/testLoaded.2.png
  mobile/evidence/ios/Leaf/Tests/LeafTests/__Snapshots__/LeafAvatarTests/testLoading.1.png
  mobile/evidence/ios/Leaf/Tests/LeafTests/__Snapshots__/LeafAvatarTests/testLoading.2.png
Labels: leaf

#18 Fix[Leaf] - Tag access control
  mobile/evidence/ios/Evidence/Evidence/ContentView.swift
  mobile/evidence/ios/Leaf/Sources/Leaf/Components/LeafTag.swift
Labels: bug, leaf
